@page "/EmailValidation"
@inject NavigationManager Navigation

<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="pt-5 pb-3">Confirm e-mail</h1>

        <p>
            To apply for a loan, you must first confirm your e-mail.
            An e-mail with a verification Code and link was sent to the address @ModelTypowany.Email

            <br />

            Look for it in your inbox and click on the link in it or enter Verification Code form email.

        </p>
        <EditForm Model="@ModelTypowany" OnValidSubmit="@Test">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group mt-5">
                <h3>Verification Code</h3>
            </div>
            <div class="form-group">
                <input asp-for="Model.ValidationCodeFromUser" placeholder="Enter verification code" class="form-control" />
            </div>
            <button class="btn btn-primary btn-block mt-2" type="submit"> Confirm </button>

        </EditForm>

        <h2 class="py-3">Check your inbox:</h2>
        <h3>@ModelTypowany.Email</h3>
    </div>
</div>


@code {

    [Parameter]
    public object Model { get; set; }

    [Parameter]
    public Cvl.ApplicationServer.Server.Node.Processes.Interfaces.IProcessEngine ProcessEngine { get; set; }

    [Parameter]
    public long ProcessId { get; set; }

    public Cvl.ApplicationServer.Server.Node.Processes.TestProcess.Steps.EmailValidationData ModelTypowany =>
        (Cvl.ApplicationServer.Server.Node.Processes.TestProcess.Steps.EmailValidationData)Model;


    public void Test()
    {
        var processDescription = ProcessEngine.GetProcessData(ProcessId);
        processDescription.FormData.FormModel.SetModel(Model);
        ProcessEngine.SetProcessData(processDescription.FormData.FormModel);
        Navigation.NavigateTo($"/process-blazor/{ProcessId}", true);
    }

}
