<div>
    @switch (ViewModel.ProcessViewName)
    {
        case "Registration":
            <Registration ViewModel="@ViewModel"></Registration>
            break;
        case "EmailValidation":
            <EmailValidation ViewModel="@ViewModel"></EmailValidation>
            break;
    }
</div>

@code {

    [Parameter]
    public Cvl.ApplicationServer.Server.Node.Processes.Model.UI.BlazorFrontEnd.BlazorViewModel
        ViewModel { get; set; }

}
