@page "/process-blazor/{Id}"
@using Cvl.ApplicationServer.Server.Node.Host
@using Cvl.ApplicationServer.Server.Node.Processes.Interfaces
@using Cvl.ApplicationServer.Server.Node.Processes.Model.UI.BlazorFrontEnd

@inject IProcessEngine ProcessEngine

<div>
    @switch (ViewModel.ProcessName)
    {
        case "BankLoanProcess":
            <Example.BlazorWasm.Processes.Pages.BankLoanProcess.ProcessComponent ViewModel="@ViewModel">
            </Example.BlazorWasm.Processes.Pages.BankLoanProcess.ProcessComponent>
            break;
        case "SimpleTestProcess":
            <Example.BlazorWasm.Processes.Pages.SimpleTestProcess.ProcessComponent ViewModel="@ViewModel">
            </Example.BlazorWasm.Processes.Pages.SimpleTestProcess.ProcessComponent>
            break;
    }
</div>



@code {

    [Parameter]
    public string Id { get; set; }

    public BlazorViewModel ViewModel { get; set; }
    
    protected override void OnInitialized()
    {        
        ViewModel = new BlazorViewModel();
        ViewModel.ProcessId = long.Parse(Id);
                

        var desc = ProcessEngine.GetProcessData(ViewModel.ProcessId);
        if (desc.ProcessStatus == Cvl.ApplicationServer.Server.Node.Processes.Model.EnumProcessStatus.WaitingForUserData)
        {
            var formName = desc.FormData.FormName;
            var names = formName.Split('/');
            ViewModel.ProcessName = names[0];
            ViewModel.ProcessViewName = names[1];
            ViewModel.Model = desc.FormData.FormModel.GetModel();
        }
    }
}